# LSTM For Predictive Maintenance

# Problem Description

Predictive maintenance is a task that includes failure prediction, diagnosis and classification. Many companies use predictive maintenance to monitor their equipment based on the data collected through ongoing monitoring or on-site inspections. For companies, predictive maintenance offers finanical gain, as it promises to minimize the frequency of repairs and, thereby, maximize the time period between repairs.

# Dataset

There are three datsets in this example: training, testing and ground truth. The training data is data for aircraft engine run-to-failure. The testing data is the aircraft engine operating data, without failure events recorded. Finally, the ground truth data contains the true remaining cycles for each engine in the testing data.

The aforementioned datasets are given in .txt files. These files are imported into this notebook file through GitHub, and cleaned and reshaped accordingly.

The data schema for the training and testing sets is as follows:

* id - aircraft identifier
* cycle - time, in cycles
* setting1 - operational setting1
* setting2 - operational setting3
* setting3 - operational setting3
* s1 - sensor reading 1
* s2 - sensor reading 2
* ...
* s26 - sensor reading 26


# Objective

The overall goal of this exercise is to predict how likely an aircraft is to fail, in 30 days. The last line of this notebook shows the final result of this LSTM model. `machine_id` can be adjusted to view the chance an aircraft will fail in the next 30 days.

### Loading Libraries

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix,accuracy_score

from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, Activation
from keras.callbacks import EarlyStopping

import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

Using TensorFlow backend.

### Loading Dataset

In [0]:
train_url = "https://raw.githubusercontent.com/fowad-sohail/deep-learning-clinic/master/Predictive%20Maintenance/PM_train.txt";

dataset_train = pd.read_csv(train_url, sep= ' ', header=None).drop([26,27], axis=1)

col_names = ['id','cycle','setting1','setting2','setting3','s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12','s13','s14','s15','s16','s17','s18','s19','s20','s21']
dataset_train.columns=col_names
print('Shape of Train dataset: ',dataset_train.shape)
dataset_train.head()

Shape of Train dataset:  (20631, 26)

   id  cycle  setting1  setting2  setting3  ...  s17   s18    s19    s20      s21
0   1      1   -0.0007   -0.0004     100.0  ...  392  2388  100.0  39.06  23.4190
1   1      2    0.0019   -0.0003     100.0  ...  392  2388  100.0  39.00  23.4236
2   1      3   -0.0043    0.0003     100.0  ...  390  2388  100.0  38.95  23.3442
3   1      4    0.0007    0.0000     100.0  ...  392  2388  100.0  38.88  23.3739
4   1      5   -0.0019   -0.0002     100.0  ...  393  2388  100.0  38.90  23.4044

[5 rows x 26 columns]

In [0]:
url_test = "https://raw.githubusercontent.com/fowad-sohail/deep-learning-clinic/master/Predictive%20Maintenance/PM_test.txt"
dataset_test=pd.read_csv(url_test,sep=' ',header=None).drop([26,27],axis=1)
dataset_test.columns=col_names
print('Shape of Test dataset: ',dataset_train.shape)
dataset_train.head()

Shape of Test dataset:  (20631, 26)

   id  cycle  setting1  setting2  setting3  ...  s17   s18    s19    s20      s21
0   1      1   -0.0007   -0.0004     100.0  ...  392  2388  100.0  39.06  23.4190
1   1      2    0.0019   -0.0003     100.0  ...  392  2388  100.0  39.00  23.4236
2   1      3   -0.0043    0.0003     100.0  ...  390  2388  100.0  38.95  23.3442
3   1      4    0.0007    0.0000     100.0  ...  392  2388  100.0  38.88  23.3739
4   1      5   -0.0019   -0.0002     100.0  ...  393  2388  100.0  38.90  23.4044

[5 rows x 26 columns]

#### Loadind Truth table

In [0]:
url_truth = "https://raw.githubusercontent.com/fowad-sohail/deep-learning-clinic/master/Predictive%20Maintenance/PM_truth.txt"
pm_truth=pd.read_csv(url_truth,sep=' ',header=None).drop([1],axis=1) # drop the third column, it's full of NaN
pm_truth.columns=['more']
pm_truth['id']=pm_truth.index+1
pm_truth.head()

   more  id
0   112   1
1    98   2
2    69   3
3    82   4
4    91   5

In [0]:
# generate column max for test data
rul = pd.DataFrame(dataset_test.groupby('id')['cycle'].max()).reset_index()
rul.columns = ['id', 'max']
rul.head()

# shows max cycle values of each id (unique plane identifier)

   id  max
0   1   31
1   2   49
2   3  126
3   4  106
4   5   98

In [0]:
# run to failure
# adds a new column to pm_truth, equal to pm_truth['more'] + rul['max']
pm_truth['rtf']=pm_truth['more']+rul['max']
pm_truth.head()

   more  id  rtf
0   112   1  143
1    98   2  147
2    69   3  195
3    82   4  188
4    91   5  189

In [0]:
pm_truth.drop('more', axis=1, inplace=True)
# print(dataset_test.head)
dataset_test=dataset_test.merge(pm_truth,on=['id'],how='left')
# print("dataset_test after merging:" + str(dataset_test.head))
dataset_test['ttf']=dataset_test['rtf'] - dataset_test['cycle']
# print(dataset_test.head)
dataset_test.drop('rtf', axis=1, inplace=True)
dataset_test.head()

   id  cycle  setting1  setting2  setting3  ...   s18    s19    s20      s21  ttf
0   1      1    0.0023    0.0003     100.0  ...  2388  100.0  38.86  23.3735  142
1   1      2   -0.0027   -0.0003     100.0  ...  2388  100.0  39.02  23.3916  141
2   1      3    0.0003    0.0001     100.0  ...  2388  100.0  39.08  23.4166  140
3   1      4    0.0042    0.0000     100.0  ...  2388  100.0  39.00  23.3737  139
4   1      5    0.0014    0.0000     100.0  ...  2388  100.0  38.99  23.4130  138

[5 rows x 27 columns]

In [0]:
# print(dataset_train.groupby(['id'])['cycle'].transform(max)))
dataset_train['ttf'] = dataset_train.groupby(['id'])['cycle'].transform(max)-dataset_train['cycle']
dataset_train.head()

   id  cycle  setting1  setting2  setting3  ...   s18    s19    s20      s21  ttf
0   1      1   -0.0007   -0.0004     100.0  ...  2388  100.0  39.06  23.4190  191
1   1      2    0.0019   -0.0003     100.0  ...  2388  100.0  39.00  23.4236  190
2   1      3   -0.0043    0.0003     100.0  ...  2388  100.0  38.95  23.3442  189
3   1      4    0.0007    0.0000     100.0  ...  2388  100.0  38.88  23.3739  188
4   1      5   -0.0019   -0.0002     100.0  ...  2388  100.0  38.90  23.4044  187

[5 rows x 27 columns]

In [0]:
df_train=dataset_train.copy() # not sure why they do this to be honest
df_test=dataset_test.copy()
period=30
df_train['label_bc'] = df_train['ttf'].apply(lambda x: 1 if x <= period else 0)
df_test['label_bc'] = df_test['ttf'].apply(lambda x: 1 if x <= period else 0)
df_train.head()

   id  cycle  setting1  setting2  ...    s20      s21  ttf  label_bc
0   1      1   -0.0007   -0.0004  ...  39.06  23.4190  191         0
1   1      2    0.0019   -0.0003  ...  39.00  23.4236  190         0
2   1      3   -0.0043    0.0003  ...  38.95  23.3442  189         0
3   1      4    0.0007    0.0000  ...  38.88  23.3739  188         0
4   1      5   -0.0019   -0.0002  ...  38.90  23.4044  187         0

[5 rows x 28 columns]

In [0]:
features_col_name=['setting1', 'setting2', 'setting3', 's1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11',
                   's12', 's13', 's14', 's15', 's16', 's17', 's18', 's19', 's20', 's21']
target_col_name='label_bc'

## Feature Scaling

In [0]:
sc=MinMaxScaler()
df_train[features_col_name]=sc.fit_transform(df_train[features_col_name])
df_test[features_col_name]=sc.transform(df_test[features_col_name])

## Function to reshape dataset as required by LSTM

In [0]:
def gen_sequence(id_df, seq_length, seq_cols):
    df_zeros=pd.DataFrame(np.zeros((seq_length-1,id_df.shape[1])),columns=id_df.columns)
    id_df=df_zeros.append(id_df,ignore_index=True)
    data_array = id_df[seq_cols].values
    num_elements = data_array.shape[0]
    lstm_array=[]
    for start, stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
        lstm_array.append(data_array[start:stop, :])
    return np.array(lstm_array)

# function to generate labels
def gen_label(id_df, seq_length, seq_cols,label):
    df_zeros=pd.DataFrame(np.zeros((seq_length-1,id_df.shape[1])),columns=id_df.columns)
    id_df=df_zeros.append(id_df,ignore_index=True)
    data_array = id_df[seq_cols].values
    num_elements = data_array.shape[0]
    y_label=[]
    for start, stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
        y_label.append(id_df[label][stop])
    return np.array(y_label)

In [0]:
# timestamp or window size
seq_length=50
seq_cols=features_col_name

In [0]:
# generate X_train
X_train=np.concatenate(list(list(gen_sequence(df_train[df_train['id']==id], seq_length, seq_cols)) for id in df_train['id'].unique()))
print(X_train.shape)
# generate y_train
y_train=np.concatenate(list(list(gen_label(df_train[df_train['id']==id], 50, seq_cols,'label_bc')) for id in df_train['id'].unique()))
print(y_train.shape)

(20531, 50, 24)
(20531,)

In [0]:
# generate X_test
X_test=np.concatenate(list(list(gen_sequence(df_test[df_test['id']==id], seq_length, seq_cols)) for id in df_test['id'].unique()))
print(X_test.shape)
# generate y_test
y_test=np.concatenate(list(list(gen_label(df_test[df_test['id']==id], 50, seq_cols,'label_bc')) for id in df_test['id'].unique()))
print(y_test.shape)

(12996, 50, 24)
(12996,)

## LSTM Network

In [0]:
nb_features =X_train.shape[2]
timestamp=seq_length

model = Sequential()

model.add(LSTM(
         input_shape=(timestamp, nb_features),
         units=100,
         return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(
          units=50,
          return_sequences=False))
model.add(Dropout(0.2))

model.add(Dense(units=1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.summary()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 50, 100)           50000
_________________________________________________________________
dropout_1 (Dropout)          (None, 50, 100)           0
_________________________________________________________________
lstm_2 (LSTM)                (None, 50)                30200
_________________________________________________________________
dropout_2 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 51
=================================================================
Total params: 80,251
Trainable params: 80,251
Non-trainable params: 0
_________________________________________________________________

In [0]:
# fit the network
model.fit(X_train, y_train, epochs=10, batch_size=200, validation_split=0.05, verbose=1,
          callbacks = [EarlyStopping(monitor='val_loss', min_delta=0, patience=0, verbose=0, mode='auto')])

Train on 19504 samples, validate on 1027 samples
Epoch 1/10
19504/19504 [==============================] - 29s 1ms/step - loss: 0.0504 - acc: 0.9790 - val_loss: 0.0461 - val_acc: 0.9747
Epoch 2/10
19504/19504 [==============================] - 29s 1ms/step - loss: 0.0466 - acc: 0.9797 - val_loss: 0.0471 - val_acc: 0.9805

In [0]:
# training metrics
scores = model.evaluate(X_train, y_train, verbose=1, batch_size=200)
print('Accurracy: {}'.format(scores[1]))

20531/20531 [==============================] - 7s 364us/step
Accurracy: 0.9807608061082748

In [0]:
y_pred=model.predict_classes(X_test)
print('Accuracy of model on test data: ',accuracy_score(y_test,y_pred))
print('Confusion Matrix: \n',confusion_matrix(y_test,y_pred))

Accuracy of model on test data:  0.9919205909510619
Confusion Matrix:
 [[12645    19]
 [   86   246]]

### Probability of Machine failure

In [0]:
def prob_failure(machine_id):
    machine_df=df_test[df_test.id==machine_id]
    machine_test=gen_sequence(machine_df,seq_length,seq_cols)
    m_pred=model.predict(machine_test)
    failure_prob=list(m_pred[-1]*100)[0]
    return failure_prob

In [0]:
machine_id=16
print('Probability that machine will fail within 30 days: ',prob_failure(machine_id))

Probability that machine will fail within 30 days:  0.0005245209